:root{
    --main-color:#fff;
    --main-bg-color:#000;
}

/* base-style */
body{
    background-color: var(--main-bg-color);
    font-family: 'DM Mono', monospace;
    color: var(--main-color);
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.header__top {
    text-align: right;
}

.link-action {
    color: var(--main-color);
    font-size: 20px;
}

.header__bottom .container {
    display: flex;
    justify-content: space-between;
}

.header__bottom{
    background-image: url(../img/bg-header-1.jpg);
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    max-width: 200px;
    display: inline-block;
}

.menu {
}

.menu__list {
    display: flex;
}

.menu__item {
}

.link-other-page {
}

.link-other-page__img {
    max-width:100px;
    max-height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.link-other-page__text {
    color: var(--main-color);
    font-size: 25px;
}

/* main */
.main-section {
padding: 200px 0 0;
}

.main-section__content {
background-image:linear-gradient(180deg,rgba(0, 0, 0, 0.6) 0%,rgba(0, 0, 0, 0.6) 0.01%, rgba(18, 18, 21, 0.1) 100%), url(../img/main-bg.webp);
height: 70vh;
background-size: cover;
position: relative;
}

.main-section__description {
max-width: 80%;
width: 100%;
position: absolute;
left:50%;
top:50%;
transform: translate(-50%, -50%);
font-size: 1.5em;
font-weight: 600;
text-shadow: 2px 2px 4px #000;
}