:root{
    --main-color:#fff;
    --main-bg-color:#000;
}

/* base-style */
body{
    background-color: var(--main-bg-color);
    font-family: 'DM Mono', monospace;
    color: var(--main-color);
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.header__top {
    text-align: right;
    background-color: black;
}

.link-action {
    color: var(--main-color);
    font-size: 20px;
}

.header__bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__bottom{
    background-image: url(../img/bg-header-1.jpg);
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    max-width: 200px;
    display: inline-block;
}

.menu {
}

.menu__list {
    display: flex;
    column-gap: 15px;
}

.menu__item {
}

.link-other-page {
}

.link-other-page__img {
    max-width:100px;
    max-height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.link-other-page__text {
    color: var(--main-color);
    font-size: 25px;
}

/* main */
.main-section,
.about-game {
padding: 200px 0 0;
}

.main-section__content {
background-image:linear-gradient(180deg,rgba(0, 0, 0, 0.6) 0%,rgba(0, 0, 0, 0.6) 0.01%, rgba(18, 18, 21, 0.1) 100%), url(../img/main-bg.webp);
height: 70vh;
background-size: cover;
position: relative;
}

.main-section__description {
max-width: 80%;
width: 100%;
position: absolute;
left:50%;
top:50%;
transform: translate(-50%, -50%);
font-size: 1.5em;
font-weight: 600;
text-shadow: 2px 2px 4px #000;
}




/* slider */
.slider {
max-width: 85%;
position: relative;
margin: 0 auto;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider__slide {
    min-height: 400px;
    background-color: gray;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.slider__slide--first  {
background-image: url(../img/slider/pvp.jpg);
}

.slider__slide--second {
    background-image: url(../img/slider/hb.webp);
}
.slider__slide--third {
    background-image: url(../img/slider/mine.png);
}
.slider__slide--fourth {
    background-image: url(../img/slider/crafts.png);
}
.slider__slide--fifth {
    background-image: url(../img/slider/dragon.jpg);
}

.slider__description {
    width: 80%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#fff!important;
    text-shadow: 2px 1px 3px #000;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.slider__arrow--left {
    left: -50px;
    transform: translateY(-50%) rotate(180deg);
}
.slider__arrow--right {
    right: -50px;
}


.slick-dots {
    position: absolute;
    bottom: -20px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    column-gap: 10px;
}

.slick-dots button {
font-size: 0;
line-height: 0;
width: 10px;
height: 10px;
background-color: #fff;
}

.slick-active button {
background-color: darkolivegreen;
}

.slider__arrow:hover path {
    fill: peachpuff;
}

.slider__arrow:active path {
    fill: darkgray;
}

/* game-sourses */

.resourses-section {
    padding-top: 200px;
    padding-bottom: 50px;
}

.resourses-section__content {
}
.mods-list {
}
.mods-list__item {
    max-width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}
.mods-list__img {
    margin-bottom: 25px;
}
.mods-list__text {
    margin-bottom: 50px;
}
.mods-list__wrapper-link {
    text-align: right;
}
.link-mode {
    padding: 10px 20px;
    background-color: green;
    color: white;
}
/* footer */
.border-line{
    margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid rgb(88, 88, 88);
	box-shadow: 0 20px 20px -20px #595858;
	width: 95%;
}

.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-list{
    display: flex;
    column-gap: 20px;
}

/* sprites */
.test-icon{
    fill: #fff;
    width: 100%;
    height: 100%;
}

.test-icon--second{
    fill: hotpink;
}

.social-link{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-link:hover .test-icon{
    fill:gray;
}

/* addaptive */

@media (max-width:1024px){
    .about-game {
        padding: 200px 0;
    }
`
}

@media (max-width:800px){
    .link-other-page__img {
        max-width: 80px;
        max-height: 80px;
        display: block;
        margin: 0 auto 5px;
    }
    
    .link-other-page__text {
        font-size: 16px;
    }

    .slider__arrow {
        display: none !important;
    }

    .slider {
        max-width: 100%;
    }


}

@media (max-width:585px){
    .link-other-page__img {
        max-width: 70px;
        max-height: 70px;
    }

    .header__bottom .container{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .main-section{
        padding-top: 250px;
    }

    .link-other-page__text {
        font-size: 16px;
    }

    .main-section__description {
        font-size: 16px;
    }

    .footer__content {
        flex-direction: column;
        row-gap: 10px;
    }

    .about-game {
        padding: 230px 0 150px;
    }

    .mods-list__item{
        max-width: 100%;
    }


}

